.DS_Store
**/.DS_Store
node_modules/
dist/
www/
build/

# Environments
.env
.env.prod

# pycharm
__pycache__

# VScode
.VScode
.vscode

# idea
.idea/

# jscrambler
.jscramblerrc

capicitor.config.json
.gradle
android