.OnBoarding .background {
    --background: #FFF;
    --background: url('/assets/Images/Ui components/bg-light.jpg') no-repeat left top fixed;
    --background-size:cover;    
}

.OnBoarding .logo2 {
    width: 192px;
    height: 39px;
    opacity: 1; 
}

.OnBoarding .graphics-01 {
    width: 80%;
    opacity: 1; 
}

.OnBoarding .spacer{
    height:68px;
}

.custom-margin-01{
    margin-top:20px;
}
.custom-margin-02{
    margin-top:20px;
}
.custom-margin-03{
    margin-top:10px;
}

.custom-margin-04{
    margin-top:58px;
}